:root {
  --image-width: 300px;
  --image-height: var(--image-width);
}

body {
  background-image: url(/img/bluenyancat.png);
  background-color: hsl(0, 0%, 10%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

img {
  width: var(--image-width);
  height: var(--image-height);
}

.title {
  font-size: 200%;
  text-align: center;
  font-family: 'Lora', serif;
}

.projects-container {
  font-family: 'Roboto', sans-serif;
  margin: 10vw;
  display: grid;
  grid-column-gap: 20vw;
  grid-row-gap: 20vh;
  grid-template-columns: 1fr 1fr;
}

.gangstakitty {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  opacity: 0;
  animation: fade-in 2s ease 1s forwards;
}

.imgscan {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  opacity: 0;
  animation: fade-in 2s ease 2s forwards;
}

.binConvert {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  opacity: 0;
  animation: fade-in 2s ease 3s forwards;
}

.jumpto {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

a:link {
  color:#007DFF;
  text-decoration: underline;
}

a:visited {
  color: #007DFF;
  text-decoration: underline;
}
a:hover {
  color: #00ffff;
  text-decoration: none;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .imgscan {
    grid-column: 1;
    grid-row: 2;
  }

  .todo {
    grid-column: 1;
    grid-row: 3;
  }

  .binConvert {
    grid-column: 1;
    grid-row: 4;
  }
}