:root {
  --main-color: #007DFF;
  --secondary-color: #00FFFF;
  --text-color-light: #000;
  --text-color-dark: #FFF;
  --bg-col-light: hsl(0, 0%, 95%);
  --bg-col-dark: hsl(0, 0%, 10%);
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  overflow-x: hidden;
  transition: background-color, 0.5s;
}

#yes {
  pointer-events: none;
  position: absolute;
  margin-left: -25vw;
  width: 69vw;
  transform: translate(-10vw);
}


img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}


.light {
  background-color: var(--bg-col-light);
  color: var(--text-color-light)
}

.dark {
  background-color: var(--bg-col-dark);
  color: var(--text-color-dark);
}

.header {
  color: var(--text-color-dark);
  width: 100vw;
  height: 80vh;
  position: absolute;
  top: 0;
  background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
  text-align: center;
}

.title-container {
  height: 110vh;
  font-size: 200%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  animation: fade-in-bottom-top 1s ease-in-out forwards;
  opacity: 0;
  user-select: none;
}

.themeSelector {
  width: max-content;
  position: absolute;
  left: 50%;
  top: 67.8vh;
  transform: translateX(-50%);
}

.themeSelector div div {
  display: inline-block;
  width: 100px;
  font-size: 24px;
  transition: background-color 0.2s;
  border-radius: 5px;
}

.themeSelector div div:hover {
  background-color: #ffffff66;
}

#selectedThemeIndicator {
  height: 5px;
  width: 100px;
  background-color: #FFF;
  border-radius: 5px;
  top: -5px;
  position: relative;
  transition: all 0.4s cubic-bezier(.65, .05, .36, 1);
}

.projects-container {
  position: absolute;
  width: 70vw;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80vh;
  padding: 10vh;
  display: grid;
  grid-column-gap: 20vw;
  grid-row-gap: 20vh;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.goto {
  position: absolute;
  width: 50vw;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 170vh;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

@keyframes fade-in-bottom-top {
  to {
    height: 80vh;
    opacity: 1;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

a {
  color: var(--main-color);
  text-decoration: underline;
  transition: color 0.2s;
}

a:visited {
  color: var(--main-color);
  text-decoration: underline;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

button:hover {
  background: linear-gradient(to bottom right, transparent, transparent) padding-box, linear-gradient(to bottom right, var(--main-color), var(--secondary-color)) border-box;
}

@media only screen and (max-width: 600px) {
  .projects-container {
    margin: 0;
    margin-top: 80vh;
    grid-template-columns: 1fr;
    gap: 10vh;
  }

  .goto {
    top: 250vh;
  }
}