:root {
  --image-width: 300px;
  --image-height: var(--image-width);
}

body {
  background-image: url(/img/bluenyancat.png);
  background-color: hsl(0, 0%, 10%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.title {
  font-family: 'Lora', serif;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 300%;
  animation: fade-in 2s ease 2s forwards;
  opacity: 0;
}

.subtitle {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 300%;
  animation: fade-in 2s ease 4s forwards;
  opacity: 0;
}

.intro {
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  transform: translateX(150px);
  opacity: 0;
  transition: 2s all ease;
}

.intro1 {
  margin-right: 50vw;
  margin-top: 60vh;
}

.intro2 {
  margin-left: 50vw;
  margin-top: 40vh;
}

.intro.active {
  transform: translateX(0);
  opacity: 1;
}

.gangstacat {
  width: var(--image-width);
  height: var(--image-height);
  position: absolute;
  left: 40vw;
}



@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 100vh;
  }

  .intro2 {
    margin-top: 110vh;
  }

  .intro3 {
    margin-top: 120vh;
  }

  .connections {
    margin-top: 230vh;
  }

  .goto {
    margin-top: 310vh;
  }
}

a:link {
  color: #007DFF;
  text-decoration: underline;
}

a:hover {
  color: #00FFFF;
  text-decoration: underline;
}

a:visited {
  color: #007DFF;
  text-decoration: underline;
}