:root {
  --main-color: #007DFF;
  --secondary-color: #00FFFF;
  --text-color-light: #000;
  --text-color-dark: #FFF;
  --bg-col-light: hsl(0, 0%, 95%);
  --bg-col-dark: hsl(0, 0%, 10%);
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  overflow-x: hidden;
  transition: background-color, 0.5s;
}

.light {
  background-color: var(--bg-col-light);
  color: var(--text-color-light);
}

.dark {
  background-color: var(--bg-col-dark);
  color: var(--text-color-dark);
}

.gangstacat {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 10vw;
  top: 90vh;
}

.header {
  color: var(--text-color-dark);
  width: 100vw;
  height: 80vh;
  position: absolute;
  top: 0;
  background-image: linear-gradient(to bottom right, var(--main-color), var(--secondary-color));
  text-align: center;
}

.title-container {
  height: 110vh;
  font-size: 200%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  animation: fade-in-bottom-top 1s ease-in-out forwards;
  opacity: 0;
  user-select: none;
}

#themeSelect {
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 20vw;
  top: 72vh;
}

@keyframes fade-in-bottom-top {
  to {
    height: 80vh;
    opacity: 1;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.intro {
  margin-top: 100vh;
  text-align: center;
  font-size: 1.5em;
}

.intro1 {
  margin: 50px;
  position: absolute;
  left: 20vw;
}

.intro2 {
  margin: 50px;
  position: absolute;
  right: 20vw;
  top: 140vh;
}

.intro3 {
  margin: 50px;
  position: absolute;
  left: 20vw;
  top: 170vh;
}

.connections {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  top: 220vh;
}

.goto {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  top: 280vh;
}

a {
  color: var(--main-color);
  text-decoration: underline;
  transition: color 0.2s;
}

a:visited {
  color: var(--main-color);
  text-decoration: underline;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

ul {
  list-style: none;
  /* uncomment this if you want the dots to be gone */
  padding: 0;
}

.themeSelector {
  width: max-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.themeSelector div div {
  display: inline-block;
  width: 100px;
  font-size: 24px;
  transition: background-color 0.2s;
  border-radius: 5px;
}

.themeSelector div div:hover {
  background-color: #ffffff66;
}

#selectedThemeIndicator {
  height: 5px;
  width: 100px;
  background-color: #FFF;
  border-radius: 5px;
  top: -5px;
  position: relative;
  transition: all 0.4s cubic-bezier(.65, .05, .36, 1);
}

@media only screen and (max-width: 600px) {
  .intro1 {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }

  .gangstacat {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 130vh;
  }

  .intro2 {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    top: 160vh;
  }

  .intro3 {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    top: 190vh;
  }
}