
body {
  background-image: url(/img/bluenyancat.png);
  background-color: hsl(0, 0%, 10%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  text-align: center;
  place-content: center;
  margin: 0;
  min-height: 100vh;
  font-family: 'Lora', serif;
}

.title {
  color: white;
  font-size: 400%;
  transform: translateY(3rem);
  opacity: 0;
  animation: titleFade 2s ease 2s forwards;
}

.subtitle {
  color: white;
  font-size: 200%;
  transform: translateY(3rem);
  opacity: 0;
  animation: subtitleFade 2s ease 3s forwards;
}

@keyframes titleFade {
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes subtitleFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}