* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url(/img/bluenyancat.png);
  background-color: #646464;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

#title {
  text-align: center;
  font-size: 250%;
}

a:link {
  color:aquamarine;
  text-decoration: underline;
}
a:visited {
  color: aquamarine;
  text-decoration: underline;
}

a:hover {
  color: #00FFFF;
  text-decoration: none;
}